html {
    background-color: black;
    overflow: hidden;
}

body {
    background-color: #051F45;
    border-radius: 17px;
    margin: 2vmin;
    min-height: calc(100vh - 4vmin);
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.3);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0.10;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiB2aWV3Qm94PSIwIDAgMzAwIDMwMCI+IDxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPjxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIwLjA1IiBudW1PY3RhdmVzPSI1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PC9maWx0ZXI+IDxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC43Ii8+IDwvc3ZnPg==');    
    animation: grain 0.2s steps(10) infinite;
    animation: grain 0.2s steps(10) infinite;
    background-size: 100px 100px;
}


@keyframes grain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.fixed-text {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    opacity: 0.9;
    mix-blend-mode: multiply;
}

p {
    font-family: 'Federo', sans-serif;
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    font-weight:normal;
    color: #F2C4CD;
    margin: 0;
    margin-top: 60px;
    letter-spacing: 2px;
    opacity: 0.7;
}

h2 {
    font-family: 'Federo', sans-serif;
    font-size: 10vw;
    font-weight: lighter;
    padding: 9px;
    font-weight: normal;
    margin-top: 8px;
    color: #F2C4CD;
    text-align: center;
    margin: -10px 0;
    line-height: 0.8;
}